
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 250px;
  background-color: #a8e3eb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.card img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ffffff;
}


.card h2 {
  font-size: 1.5em;
  margin: 10px 0;
  color: #000000;
}

.card p {
  font-size: 1.1em;
  margin: 5px 0;
  color: #000000;
}

.card p:first-of-type {
  margin-top: 10px;
}

